<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="/css/404.css"></link>
  <title>404 Error</title>
</head>
<body>
  {{{ body }}}
  
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/js/404.js"></script>
</body>
</html>

