<div class="-translate-x-12 mt-14 mb-36 ml-2 cardContainer p-6">
  <div class='bg-green-300 p-10 rounded-3xl'>
    <div class="m-7 p-10 card rounded-3xl bg-zinc-700" id='newPostContainer'>
      <h2 class="text-center pb-5">New Post</h2>
      <form class="form newPostForm">
        <div class="formGroup">
          <label for="newGoalTitle">* Title:</label>
          <input class="form-input bg-transparent border rounded-lg m-1 p-1 border-green-300" type="text" id="newGoalTitle" autocomplete='off'/>
        </div>
        <div class="formGroup">
          <label for="newGoalContent">* Post Content:</label>
          <input class="form-input bg-transparent border rounded-lg m-1 p-1 border-green-300" type="text" id="newGoalContent" autocomplete='off'/>
        </div>
        <div class="formGroup">
          <label for="newGoalLink">Link:</label>
          <input class="form-input bg-transparent border rounded-lg m-1 p-1 border-green-300" type="url" id="newGoalLink" autocomplete='off'/>
        </div>
        <div class="formGroup grid justify-items-center pt-5">
          <button class="btn btn-primary border border-green-300 rounded-lg w-fit py-1 px-2" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/createPost.js"></script>