<div class='w-5/6 -translate-x-12 px-10 mb-96 mt-64 cardContainer'>
    {{#each posts as |post|}}
        <a href="/details/" class="">
            <div class="flex border border-gray-900 text-zinc-700 bg-green-300 rounded-xl p-2 my-10 w-80 card w-full" id='card{{this.id}}'>
                <div class="w-full">
                    <div class="">
                        <p class="">{{this.title}}</p>
                        <div class="flex justify-between align-items-center">
                            <div class="">Click To View More!</div>
                            {{this.likes}} likes
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {{/each}}
</div>


