<div class='w-5/6 -translate-x-12 px-10 mt-14 mb-36 ml-2 cardContainer'>
    {{#each posts as |post|}}
        <a href="/details/{{this.id}}" class="">
            <div class="flex border border-gray-900 text-zinc-700 bg-green-300 rounded-xl p-2 my-10 w-80 h-32 card w-full" id='card{{this.id}}'>
                <div class="w-full">
                    <div class="h-full grid grid-rows-2 grid-cols-7">
                        <p class="font-bold text-xl col-span-6" style="font-family: 'Major Mono Display';">{{this.title}}</p>
                        <div class='col-start-7'>{{this.likes}} likes</div>
                        <div class='self-end row-start-2 col-span-7'>Click To View More!</div>
                    </div>
                </div>
            </div>
        </a>
    {{/each}}
</div>


