<!--
This is a handlebars (hbs) template file to display a list of posts.

The following code will iterate over the `posts` array, which is passed in as a context to this file. For each post, it will generate an HTML anchor element (`<a>`) that links to the post details page, followed by a div element containing details of the post.
-->
<div class='w-5/6 -translate-x-12 px-10 mt-14 mb-36 ml-2 cardContainer'>
    {{#each posts as |post|}}
        <a href="/details/{{this.id}}" class="">
            <div class="flex border border-gray-900 text-zinc-700 bg-green-300 rounded-xl p-2 my-10 w-80 h-32 card w-full" id='card{{this.id}}'>
                <div class="w-full">
                    <div class="h-full grid grid-rows-2 grid-cols-7">
                        <p class="font-bold text-2xl col-span-5" style="font-family: 'Major Mono Display';">{{this.title}}</p>
                        <div class='justify-self-end col-start-6 col-span-2 pr-5'>{{ formatDateUTC this.createdAt }}</div>
                        <div class='self-end row-start-2 col-span-6'>Click To View More!</div>
                    </div>
                </div>
            </div>
        </a>
    {{/each}}
</div>
<!--
The outermost div element has the class `cardContainer` and is used to center the list of post cards on the page.

Inside the div, the code uses the `#each` helper to iterate over each post object in the `posts` array. The `as |post|` syntax sets the current `post` object for each iteration of the loop.

For each post, an anchor element is generated with an href attribute that links to the post details page. The inner div element is styled to look like a card and contains the post title, date of creation, and a message prompting the user to click the card to view more details.

The `this` keyword is used inside the `each` block to refer to the current `post` object. The `id` attribute is used to set a unique ID for each card. 

The `formatDateUTC` function is called with the post's `createdAt` attribute to format the date in UTC format.
-->